@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');


body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 10px;

   }
   ::-webkit-scrollbar-track{
    background:#212529;
   }

::-webkit-scrollbar-thumb{
 background: #4d1249;
}

#Box{
    width: 100%;
    height:100vh;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background:
    
    linear-gradient(
        rgba(128, 14, 14, 0.8),
        rgba(52, 10, 107, 0.8)
        
    ),
    url(/image/Purple.jpg) no-repeat center; 
     
    
;
background-size: cover;
background-attachment: fixed;
}

/* body */

#Box2{
    width: 100%;
    height: 1000px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background:
    
    linear-gradient(
        rgba(128, 14, 14, 0.8),
        rgba(52, 10, 107, 0.8)
        
    ),
    url(/image/Purple.jpg) no-repeat center; 
     
    
;
background-size: cover;
background-attachment: fixed;
}

#Box3{
    width: 100%;
    height: 1300.4px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background:
    
    linear-gradient(
        rgba(128, 14, 14, 0.8),
        rgba(52, 10, 107, 0.8)
        
    ),
    url(/image/Purple.jpg) no-repeat center; 
     
    
;
background-size: cover;
background-attachment: fixed;
}

#Box4{
    width: 100%;
    height: 800px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background:
    
    linear-gradient(
        rgba(128, 14, 14, 0.8),
        rgba(52, 10, 107, 0.8)
        
    ),
    url(/image/Purple.jpg) no-repeat center; 
     
    
;
background-size: cover;
background-attachment: fixed;
}

#Box5{
    width: 100%;
    height: 750px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background:
    
    linear-gradient(
        rgba(128, 14, 14, 0.8),
        rgba(52, 10, 107, 0.8)
        
    ),
    url(/image/Purple.jpg) no-repeat center; 
     
    
;
background-size: cover;
background-attachment: fixed;
}

#Box6{
    width: 100%;
    height: 750px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    background:
    
    linear-gradient(
        rgba(128, 14, 14, 0.8),
        rgba(52, 10, 107, 0.8)
        
    ),
    url(/image/Purple.jpg) no-repeat center; 
     
    
;
background-size: cover;
background-attachment: fixed;
}

/* navbar onchange */

/* end */

#navbarNavAltMarkup{
    margin-right: 5%;
    text-shadow: 0vw 0vw 1vw white;

}
@media(min-width:2260px){
    #navbarNavAltMarkup{
        margin-right: 4%;
    }

}

    

#Jared {
    text-shadow: 0vw 0vw 1vw white;
    font-family: 'Share Tech', sans-serif;
}
/* #Box section >text-center #Jareds{
    text-shadow: 
    color: white;
} */
#Icon{
     box-shadow: 0vw 0vw 1vw white;
     transition: 5s;
 }
 #Icon:hover{
    box-shadow: 0vw 0vw 4vw  rgba(52, 10, 107, 0.8) ;
    transform: rotate(720deg);
 }

 #Typewriter{
     text-shadow: 0vw 0vw 1vw rgb(170, 120, 218);;
 }

 #About{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0vw 0vw 1vw  rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 }

 .bgColor{
     transition: 5s;
    background: linear-gradient(
        rgba(128, 14, 14, 0.8),
        rgba(52, 10, 107, 0.8) 
    );
    border-bottom: 1px solid white;
 }

 #dropdown-menu {
     top: 60%;
     left: 5%;
     margin-left: 1.5rem;
 }
 .social-icons {
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    position: fixed;
    z-index: 20;
    right: 1%;
    bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size:x-large;
    padding: 10px;
    box-shadow: 0vw 0vw 1vw white;
}
 .bi{
     color: white;
     text-shadow: 0vw 0vw 1vw white;
 }
.bi.bi-facebook:hover, .bi.bi-linkedin:hover{
color: 	#4267B2;
text-shadow: 0vw 0vw 1vw #4267B2;
transition: .8s;
}

.bi.bi-github:hover{
    color:black;
    text-shadow: 0vw 0vw 1vw black ;
    transition: .8s;
}

#AboutButton {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding: 10px;
    border-radius: 20px;
    width: fit-content;
    transition: all 0.3s linear;
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
    box-shadow: 0vw 0vw 1vw white;
    background-color: white;
    color: black;
}

.height{
    height:10%;
}
#Title{
font-family: 'Share Tech', sans-serif;
}

#Profile{
    box-shadow: 0vw 0vw 1vw white; ;
}

#Info{
    padding: 10px;
    box-shadow: 0vw 0vw 1vw white;
}


  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #227DED;
  }
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  .circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #D2EAF1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1E51DC;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.circle-wrap{
    margin-bottom: 24%;
}


 @media(max-width:1120px){
    #Profile{
        width: 250px;
    }
    #Info{
        width: 250px;
        flex-wrap:wrap;
    }

    #ContentRow{
        display: flex;

    }

    #InfoBox{
        width:250px;
        margin-left:10%;
    }
     
    #Box{
        position: relative;
    }
    .nav{
        position: absolute;
        overflow-x: hidden;
        left: 0;
    }
   footer, header,section ,#Box1,#Box2,#Box3,#Box4{
        overflow-x: hidden;
    }
    #Box3{
        height: 1400.4px; 
    }

    #Box2{
        height: 1500px;
    }

  #Box6{
      height:2000px;
  } 
  
  .skills-image{
      width: 300px;
  }

   .carousel-inner{
       width:500px; 
   }

   #Info{
       margin-left: 20%;
   }
    
}


#Title{
    text-decoration: underline;
    text-decoration-color: rgba(52, 10, 107, 0.8) ;
    text-shadow: 0vw 0vw 1vw white  ;
}


#Work{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0vw 0vw 1vw  rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 596.4px;  
}

.ProjectImage{
    height: 500px;
    width: 1200px;
}

.ContainerImage:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height:100%;
    background: linear-gradient( rgba(128, 14, 14, 0.8),
    rgba(52, 10, 107, 0.8) )
}


.carousel-caption{
    width: 100%;
    height: 100%;
    left: 0%;
}

#Box4{
    position: relative;
}

.carousel-control-prev-icon{
    position: absolute;
    left: 0;
    
    z-index: 150;
}

.carousel-control-next-icon{
    position: absolute;
    right: 0;
    z-index: 150;
}

@media(max-width:426px){
    .carousel-control-prev-icon{
        position: absolute;
        left: 40px;
        z-index: 150;
    } 
.carousel-caption{
    display: block;
}
    .carousel-control-next-icon{
        position: absolute;
        right: 40px;
        z-index: 150;
    }
}


.Ctext{
    font-size: 30px;
    color: black;
    position: absolute;
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: start;
    font-weight: bold;
}

.Button{
    z-index: 50;
}

.carousel-indicators{
    margin-top: 10%;
}
 /* Testimonials */
#wrapper{
    align-items: center;
    margin-right: 100px;
}
.containers{
    width: 200px;
    height: 400px;
    border-radius: 5%;
    margin: 20px auto;
  }
#card{
 width: 300px;
 height: 400px;
 position: relative;
 transition: transform 1s;
 transform-style: preserve-3d;
 background-color: aliceblue;
 border-radius: 2%;
}

.containers:hover #card{
    transform: rotateY(180deg);
  }
#Front, #Back{
position: absolute;
width: 300px;
height: 400px;
border-radius: 2%;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
}
#Back{
transform: rotateY(180deg);
background-color: #4d1249;
}

#Testimonials{
    font-family: 'Share Tech', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgba(52, 10, 107, 0.8) ;
    text-shadow: 0vw 0vw 1vw white  ;
}

#Contact{
    font-family: 'Share Tech', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgba(52, 10, 107, 0.8) ;
    text-shadow: 0vw 0vw 1vw white  ;
}  

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 17px 30px 7px;
    height: 75px;
}

.fa-brands{
    color: white;
    text-shadow: 0vw 0vw 1vw white;
}

.fa-brands:hover{
    color:black;
    text-shadow: 0vw 0vw 1vw black;
}
#Projects{
font-family: 'Share Tech', sans-serif;
text-decoration: underline;
text-decoration-color: rgba(52, 10, 107, 0.8) ;
text-shadow: 0vw 0vw 1vw white  ;
}

.Head{
    font-family: 'Share Tech', sans-serif;
    text-shadow: 0vw 0vw 1vw white;
}

.sub-heading{
    text-decoration: underline;
}

.carousel-inner{
 height: 500px; 
}
